<div th:fragment="sidebar">
	<div class="d-flex flex-column flex-shrink-0 p-3 sidebar "
		id="sidebar" style="width: 280px; height: 100vh; background-color:#292A2D">

		<div class="d-flex justify-content-start">
			<button class="btn btn d-lg-none bg-danger" id="sidebarToggle"
				type="button" style="margin-top: -4px; margin-left: -30px;">
				<i class="navbar-toggler-icon fw-bold"></i>
			</button>
		</div>

		<!-- Dropdown with Profile Image and Username -->
		<div class="dropdown mb-3">
			<a href="/"
				class="d-flex flex-column align-items-center link-dark text-decoration-none dropdown-toggle"
				id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">

				<img id="profileImage" th:src="@{${logedInUser.imageUrl}}"
				alt="/img/contact.png" class="profile-icon"
				onerror="this.src=this.alt;"
				style="width: 80px; height: 80px; border-radius: 50%;"> <!-- User Name -->
				<h5><span th:text="${logedInUser.name}"
				class="text-primary fw-bold mt-1"></span></h5>
				<span class="fw-bold text-cm">WELCOME TO C.M</span>
			</a>
			
				
			<ul class="dropdown-menu text-small shadow"
				aria-labelledby="dropdownUser2">
				<li><a class="dropdown-item text-primary text-service fw-bold" th:href="@{/user/profile}"> <i
						class="fas fa-cog me-1 text-danger fw-bold"></i>Setting
				</a></li>
				<li><a class="dropdown-item text-primary text-service fw-bold me-3" th:href="@{/user/profile}"> <i
						class="fas fa-user me-1 text-service fw-bold"></i>View Profile
				</a></li>
				<li><a class="dropdown-item text-primary text-service fw-bold" th:href="@{/user/contacts/add}"> <i
						class="fas fa-folder-plus me-1 text-primary fw-bold"></i>Add Contact
				</a></li>

				<li><hr class="dropdown-divider"></li>
				<li><a href="/logout" class="dropdown-item text-danger fw-bold">
						<i class="fas fa-power-off me-1"></i>Sign out
				</a></li>
			</ul>
		</div>

		<hr class="text-light">

		<!-- Navigation Items -->
		<ul class="nav nav-pills flex-column mb-auto ">
			<li><a th:href="@{/user/index}" class="nav-link side text-cm fw-bold"><i
					class="fas fa-dashboard me-2 text-primary"></i> 
					Dashboard
			</a></li>
			<li class="nav-item"><a th:href="@{/user/profile}"
				class="nav-link side text-cm fw-bold" aria-current="page"> <i
					class="fas fa-home me-2 text-red"></i> 
					Profile
			</a></li>
			<li><a th:href="@{/user/contacts}" class="nav-link side text-cm fw-bold"> <i
					class="fas fa-address-book me-2 text-primary"></i> 
					Contacts
			</a></li>
			<li><a th:href="@{/user/contacts/favorites}" class="nav-link side text-cm fw-bold"> <i
					class="fa-solid fa-star me-2 text-warning"></i>
					Favorite-Contacts      
			</a></li>
			<li><a th:href="@{/user/contacts/add}" class="nav-link side text-cm fw-bold"> <i
					class="fas fa-user-plus text-primary me-1"></i> 
					Create new Contact
			</a></li>
			<li><a th:href="@{/user/profile}" class="nav-link side text-cm fw-bold"> <i
					class="fas fa-lock me-2 text-success"></i> 
					Change Password
			</a></li>
		</ul>

		<hr class="text-light">
	</div>
</div>
