<div data-th-fragment="update-user-modal">
    <div data-th-replace="~{/fragments/afterlogin/spinner :: spinner}"></div>

    <!-- Modal -->
    <div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title text-center fw-bold" id="updateUserModalLabel">Update User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateUserForm" enctype="multipart/form-data">
                        <div class="text-center mb-3">
                            <img id="ImagePreview" alt="Profile" class="profile-image mb-2">
                            <input type="file" class="form-control" id="ImageUpdate" accept="image/*" onchange="previewImage(this);">
                        </div>
                        <div class="mb-3">
                            <label for="NameUpdate" class="form-label fw-bold">Name*</label>
                            <input type="text" class="form-control" id="FirstNameUpdate">
                        </div>
                        <div class="mb-3">
                            <label for="EmailUpdate" class="form-label fw-bold">Email*</label>
                            <input type="email" class="form-control" id="EmailUpdate" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="PhoneNoUpdate" class="form-label fw-bold">Phone*</label>
                            <input type="tel" class="form-control" id="PhoneNoUpdate">
                        </div>
                        <div class="mb-3">
                            <label for="DobUpdate" class="form-label fw-bold">D.O.B*</label>
                            <input type="date" class="form-control" id="DobUpdate">
                        </div>
                        <div class="mb-3">
                            <label for="AboutUpdate" class="form-label fw-bold">About*</label>
                            <textarea class="form-control" id="AboutUpdate" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger rounded" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary rounded" onclick="submitForm()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
