<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{loginbase::layout(~{::section}, ~{::title})}">
<head>
<meta charset="UTF-8">
<title>UserDashboard-ContactManager</title>
</head>
<body>
	<section>
		<link th:href="@{/css/login/dashboard.css}" rel="stylesheet">

		<div class="container mt-4">
			<div class="row">
				<!-- Profile Card -->
				<div class="col-md-4 mt-4">
					<div class="card text-center shadow-sm">
						<div class="card-body">
							<i class="fas fa-home me-2 text-red fa-3x"></i>
							<h5 class="card-title mt-3 fw-bold text-service">PROFILE</h5>
							<p class="card-text">View and edit your profile
								informations......</p>
							<a th:href="@{/user/profile}" class="btn btn-primary">Go to
								Profile <i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Contacts Card -->
				<div class="col-md-4 mt-4">
					<div class="card text-center shadow-sm">
						<div class="card-body">
							<i class="fas fa-address-book me-2 text-primary fa-3x"></i>
							<h5 class="card-title mt-3 fw-bold text-service">CONTACTS</h5>
							<p class="card-text">Manage your contacts , view and
								edit......</p>
							<a th:href="@{/user/contacts}" class="btn btn-primary">Go to
								Contacts <i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Favorite Contacts Card -->
				<div class="col-md-4 mt-4">
					<div class="card text-center shadow-sm">
						<div class="card-body">
							<i class="fa-solid fa-star me-2 text-warning fa-3x"></i>
							<h5 class="card-title mt-3 fw-bold text-service">FAVORITE
								CONTACTS</h5>
							<p class="card-text">View your favorite contacts.......</p>
							<a th:href="@{/user/contacts/favorites}" class="btn btn-primary">Go
								to Favorites <i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Create New Contact Card -->
				<div class="col-md-4 mt-4">
					<div class="card text-center shadow-sm">
						<div class="card-body">
							<i class="fas fa-user-plus me-2 text-primary fa-3x"></i>
							<h5 class="card-title mt-3 fw-bold text-service">CREATE NEW
								CONTACT</h5>
							<p class="card-text">Add a new contact on cloud......</p>
							<a th:href="@{/user/contacts/add}" class="btn btn-primary">Create
								Contact <i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Update Password Card -->
				<div class="col-md-4 mt-4">
					<div class="card text-center shadow-sm">
						<div class="card-body">
							<i class="fas fa-lock me-2 text-success fa-3x"></i>
							<h5 class="card-title mt-3 fw-bold text-service">UPDATE
								PASSWORD</h5>
							<p class="card-text">Change your existing user password...</p>
							<div th:if="${logedInUser.providerUserId == null}">
								<!-- Button for manual signup users -->
								<a th:href="@{#}" data-bs-toggle="modal"
									data-bs-target="#changePasswordModal"
									data-th-onclick="'update_password(' + ${logedInUser.id} + ')' "
									class="btn btn-primary">Update Password <i
									class="fa fa-angle-right"></i>
								</a>
							</div>

							<div th:if="${logedInUser.providerUserId != null}">
								<!-- Button for Google signup users -->
								<a th:href="@{#}" data-bs-toggle="modal"
									data-bs-target="#googleSignInModal" class="btn btn-primary">Update
									Password <i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 mt-4">
					<div class="card text-center shadow-sm">
						<div class="card-body">
							<i class="fa fa-cogs me-2 text-secondary fa-3x"></i>
							<h5 class="card-title mt-3 fw-bold text-service">APPLY
								SERVICES</h5>
							<p class="card-text">Apply various services provide by
								us......</p>
							<a th:href="@{https://edistrict.odisha.gov.in/}"
								class="btn btn-primary">Apply Services <i
								class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/change-user-password.js}"></script>
	</section>
</body>
</html>