<div th:fragment="footer" style="background-color:RGB(29, 42, 53,0.5)">

	<!--                              Footer Start
	 -->
		<footer class="text-center text-lg-start text-white"
			style="background-color:RGB(29, 42, 53,0.9)">
			<section class="d-flex section-bordered justify-content-between p-4 body text-dark fw-bold social-icons">
				<div class="me-5"> 
					<span>Connect:</span>
				</div>
				<div class="d-flex">
									<a href="mailto:contactmanagerfun@gmail.com" class="text-red me-3">
				   <i class="fas fa-envelope"></i>
					 </a>
					 
					 <a
						th:href="@{https://www.facebook.com/profile.php?id=61557413003432&mibextid=ZbWKwL}"
						class="me-3 nav-link"> <i
						class="fab fa-facebook facebook"></i>
					</a> 
	
					
					<a th:href="@{https://www.instagram.com/suman_kumar_chand?igsh=bDM3cG80Mjh6cHRv}"
						class="text-white me-3"> <i
						class="fab fa-instagram instagram"></i>
					</a> <a th:href="@{https://www.linkedin.com/in/sumankchand }"
						class="text-white me-3"> <i class="fab fa-linkedin linkedin"></i>
					</a> <a th:href="@{https://github.com/hrypter/Contact_Management.git}"
						class="text-white nav-link"> <i
						class="fab fa-github github"></i>
					</a>
				</div>
			</section>
	
			<section>
				<div class="container text-center text-md-start mt-5">
					<div class="row mt-3">
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<h6 class="text-uppercase fw-bold text-service">Company name</h6>
							<hr class="mb-4 mt-0 d-inline-block mx-auto"
								style="width: 133px; background-color: #7c4dff; height: 2px" />
							<p class="">SmartContactManager Create, organize, and manage your
								personal and professional contacts with ease. Our platform
								provides seamless contact management tools to help you keep track
								of your network.</p>
						</div>
	
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<h6 class="text-uppercase fw-bold text-service">Products</h6>
							<hr class="mb-4 mt-0 d-inline-block mx-auto"
								style="width: 85px; background-color: #7c4dff; height: 2px" />
							<p>
								<a th:href="@{/user/index}"
									class="text-white nav-link footer-link">Login Here</a>
							</p>
							<p>
								<a th:href="@{/signup}" class="text-white nav-link footer-link">Sign
									Up</a>
							</p>
							<p>
								<a th:href="@{/contact}" class="text-white nav-link footer-link">Contact
									Us</a>
							</p>
							<p>
								<a th:href="@{/}" class="text-white nav-link footer-link">Page
									Refresh</a>
							</p>
						</div>
	
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<h6 class="text-uppercase fw-bold text-service">Useful links</h6>
							<hr class="mb-4 mt-0 d-inline-block mx-auto"
								style="width: 108px; background-color: #7c4dff; height: 2px" />
							<p>
								<a th:href="@{/user/profile}"
									class="text-white nav-link footer-link">Your Account</a>
							</p>
							<p>
								<a th:href="@{/about}" class="text-white nav-link footer-link">About
									Us</a>
							</p>
							<p>
								<a th:href="@{/service}" class="text-white nav-link footer-link">Services
									Offered</a>
							</p>
							<p>
								<a th:href="@{/contact}" class="text-white nav-link footer-link">Help</a>
							</p>
						</div>
	
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<h6 class="text-uppercase fw-bold text-service">Contact</h6>
							<hr class="mb-4 mt-0 d-inline-block mx-auto"
								style="width: 73px; background-color: #7c4dff; height: 2px" />
							<p>
								<i class="fas fa-user-alt mr-3"></i> SUMAN KUMAR CHAND
							</p>
							<p>
								<i class="fas fa-home mr-3"></i> Rautapada,Begunia,Khordha,752062
							</p>
							<p>
								<i class=" fas fa-envelope mr-3 "></i><a class=" footer-link2 "
									href="mailto:sumankumarchand55@gmail.com">
									sumankumarchand55@gmail.com</a>
							</p>
							<p>
								<i class="fas fa-mobile-alt mr-3"></i> +917682855932
							</p>
						</div>
					</div>
				</div>
			</section>
	
			<div
				class="text-center p-3 d-flex justify-content-center align-items-center"
				style="background-color: rgba(0, 0, 0, 0.2)">
				<div class="text-white">
					<a th:href="@{https://mdbootstrap.com/}"
						class="nav-link d-block d-sm-inline">ContactManager.fun &nbsp;</a> <span
						class="d-block d-sm-inline">© 2024 Copyright, All Rights
						Reserved</span>
				</div>
			</div>
	
		</footer>
		<!--                                        Footer End
	 -->
	
	</div>