<div th:fragment="gallery">

    <div class="gallery-container">
        <h2 class="gallery-header fw-bold">GALLERY</h2>
        <div class="gallery-grid">
            <div class="gallery-item">
                <img src="/img/gallery/gallery1.jpg" alt="Large gallery image">
            </div>
            <div class="gallery-item">
                <img src="/img/gallery/gallery10.png" alt="Gallery image 2">
            </div>
            <div class="gallery-item">
                <img src="/img/gallery/gallery11.png" alt="Gallery image 3">
            </div>
          <!--   <div class="gallery-item">
                <img src="/img/gallery/gallery4.jpg" alt="Gallery image 4">
            </div>
            <div class="gallery-item">
                <img src="/img/gallery/gallery5.jpg" alt="Gallery image 5">
            </div>
            <div class="gallery-item">
                <img src="/img/gallery/gallery6.png" alt="Gallery image 6">
            </div> -->
            
        </div>
        <div class="view-gallery">
            <a href="/gallery">View Gallery</a>
        </div>
    </div>

</div>