<div th:fragment="navigationbar">

	<style>
@media ( max-width : 768px) {
	.responsive-logo {
		width: 40px;
		margin-right: -27px;
	}
}

@media ( min-width : 769px) {
	.responsive-logo {
		width: 40px;
		margin-right: 0px;
	}
}
</style>
	<!-- Horizontal upper Navbar start -->
	<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:RGB(29, 42, 53,0.9)">
		<div class="container-fluid">
			<h4>
				<a class="navbar-brand text-success mx-auto" th:href="@{/}"> <img
					src="/img/home/contactlogo.png" alt="Logo"
					class="responsive-logo fw-bold">
				</a>
			</h4>

			<h4 class="fw-bold mx-auto">
				<span class="text-service">Contact</span><span class="text-white">Manager</span>
			</h4>

			<div class=" dropdown d-flex gap-1 ms-auto d-lg-none">
				<button class=" btn btn-link p-0" id="profileDropdown"
					data-bs-toggle="dropdown">
					<img id="profileImage" th:src="${'/img/contact.png'}"
						alt="Profile Picture" class="profile-icon"
							style="margin-top: 0px; margin-right:-20px;">
				</button>
				<div class="">
					<ul
						class="dropdown-menu dropdown-menu-end dropdown-body text-white"
						aria-labelledby="profileDropdown">
						<li class="dropdown-item dropdown-body text-white text-center"><img
							id="profileImage" data-th-src="${'/img/contact.png'}"
							alt="Profile Picture" class="rounded-circle mb-4 me-4  align-items-center"
							style="width: 100px; height: 100px; border: 2px solid white; margin-left: 30px;">
						<li><hr class="dropdown-divider bg-light"></li>
						<li class="dropdown-item dropdown-body text-white text-center"><a
							data-th-href="@{/user/index}" class="btn btn-primary rounded"><i
								class="fa-solid fa-user"></i> Login</a> <a data-th-href="@{/signup}"
							class="btn btn-danger rounded"><i class='fas fa-user-plus'></i>
								signup</a></li>
					   </ul>
				</div>
			</div>

			<button class="navbar-toggler btn-primary ms-auto" type="button"
				data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
				aria-controls="collapsibleNavbar" aria-expanded="false"
				aria-label="Toggle navigation" id="navbarTogglerBeforeLogin"
				style="margin-top: 0px; margin-right:0px;">
				<span class="fas fa-angle-down down"></span>
			</button>


			<div class="collapse navbar-collapse justify-content-center"
				id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<h4>
							<a class="nav-link fw-bold fs-5 text-light link-dark"
								th:href="@{/}">Home</a>
						</h4>
					</li>
					<li class="nav-item">
						<h4>
							<a class="nav-link fw-bold fs-5 text-light link-dark"
								th:href="@{/about}">About</a>
						</h4>
					</li>
					<li class="nav-item">
						<h4>
							<a class="nav-link fw-bold fs-5 text-light link-dark"
								th:href="@{/service}">Services</a>
						</h4>
					</li>
					<li class="nav-item">
						<h4>
							<a class="nav-link fw-bold fs-5 text-light link-dark"
								th:href="@{/contact}">Contact</a>
						</h4>
					</li>
					<!-- <li class="nav-item">
						<h4>
							<a class="nav-link fw-bold fs-5 text-light link-dark"
								th:href="@{/meetus}" style="margin-right: 85px;">Meet Us</a>
						</h4>
					</li> -->
				</ul>
			</div>
			<div
				class=" dropdown dropstart d-flex gap-1 mx-auto d-none d-lg-flex">
				<button class=" btn btn-link p-0" id="profileDropdown"
					data-bs-toggle="dropdown">
					<img id="profileImage" th:src="${'/img/contact.png'}"
						alt="Profile Picture" class="profile-icon"
						style="margin-top: 0px; margin-right:50px;">
				</button>
				<div class="">
					<ul	class="dropdown-menu dropdown-menu-end dropdown-body text-white"
						aria-labelledby="profileDropdown">
						<li class="dropdown-item dropdown-body text-white text-center"><img
							id="profileImage" data-th-src="${'/img/contact.png'}"
							alt="Profile Picture" class="rounded-circle mb-4"
							style="width: 100px; height: 100px; border: 2px solid white;">
						<li><hr class="dropdown-divider bg-light"></li>
						<li class="dropdown-item dropdown-body text-white text-center"><a
							data-th-href="@{/user/index}" class="btn btn-outline-primary rounded"><i
								class="fa-solid fa-user"></i> Login</a> <a data-th-href="@{/signup}"
							class="btn btn-outline-danger rounded"><i class='fas fa-user-plus'></i>
								signup</a></li>
					   </ul>
				</div>

			</div>
		</div>
	</nav>
	<!--Horizontal upper Navbar end -->

</div>