<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section}, ~{::title})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MeetUs-ContactManager</title>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"
	crossorigin="anonymous"></script>
</head>
<body>
	<section class="services-container bodyservice body">

		<link rel="stylesheet" href="/css/meetus.css">
		<div class="service-header">
			<h2 class="fw-bold text-service">Meet Our Team</h2>
		</div>
		<br>
		<!--  1st row -->
		<div class="row">
			<div class="column">
				<div class="card">
					<img src="/img/meetus/suman image ps.jpg" alt="Jane"
						style="width: 100%">
					<div class="container">
						<h2>Suman kumar</h2>
						<p class="title">Spring Boot Developer</p>
						<p>suman@gmail.com</p>
						<p>
							<a href="mailto:sumankumarchand55@gmail.com"
								class="btn btn-danger"> <i class="fas fa-envelope"></i>
								Mail
							</a> <a href="tel:+917682855932" class="btn btn-primary"> <i
								class="fas fa-phone"></i> Call
							</a>
						</p>

					</div>
				</div>
				<br>
			</div>

			<div class="column">
				<div class="card">
					<img src="/img/meetus/suman image ps.jpg" alt="Jane"
						style="width: 100%">
					<div class="container">
						<h2>Suman kumar</h2>
						<p class="title">CEO & Founder</p>
						<p>example@example.com</p>
						<p>
							<a href="mailto:sumankumarchand55@gmail.com"
								class="btn btn-danger"> <i class="fas fa-envelope"></i>
								Mail
							</a> <a href="tel:+917682855932" class="btn btn-primary"> <i
								class="fas fa-phone"></i> Call
							</a>
						</p>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img src="/img/meetus/suman image ps.jpg" alt="Jane"
						style="width: 100%">
					<div class="container">
						<h2>Suman kumar</h2>
						<p class="title">CEO & Founder</p>
						<p>example@example.com</p>
						<p>
							<a href="mailto:sumankumarchand55@gmail.com"
								class="btn btn-danger"> <i class="fas fa-envelope"></i>
								Mail
							</a> <a href="tel:+917682855932" class="btn btn-primary"> <i
								class="fas fa-phone"></i> Call
							</a>
						</p>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img src="/img/meetus/suman image ps.jpg" alt="Jane"
						style="width: 100%">
					<div class="container">
						<h2>Suman kumar</h2>
						<p class="title">Art Director</p>
						<p>example@example.com</p>
						<p>
							<a href="mailto:sumankumarchand55@gmail.com"
								class="btn btn-danger"> <i class="fas fa-envelope"></i>
								Mail
							</a> <a href="tel:+917682855932" class="btn btn-primary"> <i
								class="fas fa-phone"></i> Call
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--   2nd row -->


		<!-- 	<div class="row">

			<div class="column">
				<div class="card">
					<img src="/img/meetus/meetus-male.png" alt="Jane" style="width: 100%">
					<div class="container">
						<h2>SUMAN KUMAR </h2>
						<p class="title">CEO & Founder</p>
						<p>example@example.com</p>
						<p>
							<button class="button">Contact</button>
						</p>
					</div>
				</div>
				<br>
			</div>

			<div class="column">
				<div class="card">
					<img src="/img/meetus/meetus-female.png" alt="Jane" style="width: 100%">
					<div class="container">
						<h2>Jane Doe</h2>
						<p class="title">CEO & Founder</p>
						<p>example@example.com</p>
						<p>
							<button class="button">Contact</button>
						</p>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img src="/img/meetus/meetus-male.png" alt="Jane" style="width: 100%">
					<div class="container">
						<h2>Jane Doe</h2>
						<p class="title">CEO & Founder</p>
						<p>example@example.com</p>
						<p>
							<button class="button">Contact</button>
						</p>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img src="/img/meetus/meetus-female.png" alt="Mike" style="width: 100%">
					<div class="container">
						<h2>Mike Ross</h2>
						<p class="title">Art Director</p>
						<p>example@example.com</p>
						<p>
							<button class="button">Contact</button>
						</p>
					</div>
				</div>
			</div>
		</div> -->

	</section>
</body>
</html>