<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="~{base::layout(~{::section}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Services-ContactManager</title>
	</head>
<body>
    <section class="services-container bodyservice body">
        <div class="service-header">
            <h1 class="fw-bold text-service">Our Services</h1>
 <p>Explore the features that make Smart Contact Manager the ultimate solution for managing your contacts efficiently.</p>        </div>

        <div class="services-grid">
            <div class="service-item">
                <img src="/img/service/contact.png" alt="Contact Management" class="service-icon">
                 <h2>Contact Management</h2>
        <p class="fw-bold">Create, organize, and manage your personal and professional contacts with ease. Our platform provides seamless contact management tools to help you keep track of your network.</p>
            </div>

            <div class="service-item">
                <img src="/img/service/messagesmart.png" alt="Messaging" class="service-icon">
                 <h2>Messaging</h2>
        <p class="fw-bold">Send messages directly to your contacts through our integrated messaging system. Stay connected and communicate instantly with a user-friendly interface.</p>

            </div>

            <div class="service-item">
                <img src="/img/service/calling.png" alt="Calling Feature" class="service-icon">
                <h2>Calling Feature</h2>
        <p class="fw-bold">Make calls to your contacts with just a click. Smart Contact Manager offers a built-in calling feature to enhance your communication process.</p>

            </div>

            <div class="service-item">
                <img src="/img/service/secure.png" alt="Secure Authentication" class="service-icon">
               <h2>Secure User Authentication</h2>
        <p class="fw-bold">Your security is our priority. We offer a secure login system using OAuth and other authentication methods to protect your personal information.</p>

            </div>
        </div>
    </section>
</body>
</html>